.c-badge__container {
    display: flex;
    align-items: start;
}

.c-badge {
    color: white;
    border-radius: $border-radius;
    width: auto;
    font-family: $sans-stack;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.9em;
    height: 2.9em;
    border-radius: 50%;
    font-size: 1em;
    line-height: 1;
    flex-shrink: 0;
    text-align: center;
    float: right;
}

.c-badge__amount {
    font-weight: bold;
}

.c-badge__text {
    font-size: .7em;
    margin-top: .1em;
}

$promo-color: hsl(19, 76%, 55%);

.c-badge--promo {
    border: 1px solid darken($promo-color, 8%);
    background-color: $promo-color;
    margin: -1.75em -1.75em 0 0;
}
