.c-card__grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;

    @media (min-width: 42em) {
        flex-wrap: nowrap;
        margin: 2em 0;
    }
}

.c-card {
    border: 1px dotted rgba($color-green-075, .5);
    border-radius: 5px;
    padding: 1em;
    font-size: 1.1em;
    transition: background-color 120ms ease-in;
    width: 100%;
    margin-bottom: 1em;
    line-height: 1.4;

    &:hover {
        background-color: rgba(0, 0, 0, .033);
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 42em) {
        margin-right: 1em;
        margin-bottom: 0;
        font-size: 1.2em;
        width: auto;
    }
}

.c-card__block-link {
    display: block;
    margin: -1em;
    padding: 1em;
}

.c-card--no-link {
    &:hover {
      background: none;
    }
}
