.c-header__section {
    font-size: 1.2em;
    position: relative;
    padding-left: 1em;
    margin-bottom: .75em;

    &:after {
        content: '';
        background-color: $color-green-050;
        width: 0.4em;
        height: 1.65em;
        position: absolute;
        left: 0;
        border-radius: 3px 0 0 3px;
    }
}

.c-header--hash-link-padding {
    &:before {
        display: block;
        content: " ";
        margin-top: -3em;
        height: 3em;
        visibility: hidden;
        pointer-events: none;
    }
}

.c-header__main {
    font-size: 2.1em;
    font-family: $serif-stack;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

.c-header__sub {
    font-size: 1em;
    margin: -.4em 0 .75em;
}

.c-header__label {
    font-size: .9em;
    text-transform: uppercase;
    margin: -.4em 0 .75em;
    color: $color-gray-080;
}
