.c-image-grid {
    columns: 2;
    column-gap: 1em;

    @media (min-width: 38em) {
        columns: 3;
    }

    @media (min-width: 50em) {
        columns: 4;
    }

    @media (min-width: 68em) {
        columns: 5;
    }
}

.c-image-grid__image-container {
    margin-bottom: 1em;
    display:inline-block;
}

.c-image-grid__image {
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 0;
    border: 1px solid $color-gray-050;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 120ms ease-in 90ms;
    }

    &:hover, &:focus, &:active {
        outline: 0;

        &:after {
            background-color: rgba(0, 0, 0, .15);
        }
    }

    img {
        border: 0;
    }
}
