$mobile-nav-breakpoint: 52em;

.c-nav {
    display: flex;
    background-color: $color-green-050;
    border-bottom: 1px solid rgba($color-green-075, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    font-family: $sans-stack;
    align-items: center;
    padding: 0 .5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-wrap: wrap;

    @media (min-width: $mobile-nav-breakpoint) {
        padding: 0 2rem;
        flex-wrap: nowrap;
    }
}

.c-nav__title {
    font-family: $serif-stack;
    letter-spacing: 1px;
    flex-grow: 1;
    font-size: 1.2em;
    margin: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.c-nav__title-link {
    background: none;
    line-height: 0;
}

.c-nav__logo-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.c-nav__logo {
    height: 1.5em;
    width: auto;
    border: 0;
}

.c-nav__logo-text {
    margin-left: .5em;
    font-size: .8em;

    @media (min-width: 32em) {
        font-size: 1em;
    }
}

.c-nav__mobile {
    margin: .6em 0;

    @media (min-width: $mobile-nav-breakpoint) {
        display: none;
    }
}

.c-nav__list {
    list-style: none;
    margin: 0 -.5em;
    padding: 0;
    display: none;
    width: calc(100% + 1em);
    border-top: 1px solid rgba($color-green-075, .5);

    @media (min-width: $mobile-nav-breakpoint) {
        margin: .6em .8em;
        display: flex;
        align-items: center;
        flex-shrink: 1;
        width: auto;
        border: 0;
        width: auto;
    }
}

.c-nav__list--active {
    display: block;

    @media (min-width: $mobile-nav-breakpoint) {
        display: flex;
    }
}

.c-nav__item {
    width: 100%;
    border-bottom: 1px dotted rgba($color-green-075, .5);

    &:last-child {
        border: 0;
    }

    @media (min-width: $mobile-nav-breakpoint) {
        width: auto;
        border: 0;
    }
}

.c-nav__link {
    background-image: none;
    padding: .5em;
    display: block;
    font-size: .8em;
    transition: color 120ms ease-in, background-color 120ms ease-in;

    &:hover {
        background-color: $color-green-075;
        color: white;
    }

    @media (min-width: $mobile-nav-breakpoint) {
        @include button;

        font-size: .8em;
        margin: 0 0 0 1.5em;
    }
}

.c-nav__mobile-link {
    display: inline-block;

    @media (min-width: $mobile-nav-breakpoint) {
        display: none;
    }
}
