{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/dist/css/main.css"/>
</head>

<body>
	<div id="container">
		<header id="header">
			<nav class="c-nav">
        <h2 class="c-nav__title">
          <a class="c-nav__title-link" href="{{ siteUrl }}">
            <figure class="c-nav__logo-container">
              <img class="c-nav__logo" src="/site_images/revised_logo.svg" alt="logo">
              <figcaption class="c-nav__logo-text">{{ siteName }}</figcaption>
            </figure>
          </a>
        </h2>

        <div class="c-nav__mobile">
          <a class="c-nav__item c-nav__item--mobile c-button" href="{{ siteUrl }}#footer">Menu</a>
        </div>

				<ul class="c-nav__list">
					<li><a class="c-nav__item c-button" href="{{ siteUrl }}#upcoming-sales">Upcoming Sales</a></li>
          <li><a class="c-nav__item c-button" href="{{ siteUrl }}#setup-sale">Setup a Sale</a></li>
          <li><a class="c-nav__item c-button" href="{{ siteUrl }}#contact-us">Contact Us</a></li>
          {# <li><a class="c-nav__item c-button" href="/blog">Blog</a></li>#}
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer" class="c-footer">
      <ul class="c-social">
        <li class="c-social__item">
          <a class="c-social__link" target="_blank" href="https://www.facebook.com/Roy-Dudley-Estate-Sales-146801892020005/">
            <img class="c-social__icon" src="/site_images/facebook.svg" alt="Roy Dudley Facebook Page" />
            <div>Facebook</div>
          </a>
        </li>
        <li class="c-social__item">
          <a class="c-social__link" target="_blank" href="https://www.instagram.com/roydudley/">
            <img class="c-social__icon" src="/site_images/instagram.svg" alt="Roy Dudley Instagram Page" />
            <div>Instagram</div>
          </a>
        </li>
        <li class="c-social__item">
          <div class="c-social__link">
            <span class="u-mr2">Phone:</span> <a href="tel:15016665856" class="u-link--no-underline">501-666-5856</a>
          </div>
        </li>
      </ul>

      <div class="c-footer__main">
        <h6 class="c-header__sub">About Roy</h6>
        <p>Roy Dudley has over 20 years experience in the antique business, first as a dealer and now as the owner of a full service estate sale company.</p>
        <p>His expertise ensures even large estates are handled smoothly, and gives him an eye for unique pieces that would otherwise go unnoticed. Please contact us today to inquire about setting up a sale.</p>
      </div>

			<div class="u-mt3">
        &copy; {{ now.year }} Roy Dudley Estate Sales
			</div>
		</footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.modal.js"></script>
    <script src="/js/simpleLightbox.min.js"></script>
    <script src="/js/main.js"></script>
	</div>
</body>
</html>
